<html>
	<head>
		<title>My Test Blog</title>
	</head>
	<body>
		<h1>My Blog</h1>

		<!-- 
			Checking to see of user is logged in.
			If so, display username and logout link.
			Else, display form to log in and register link if user does not have an account.
		--> 
		{% if not user_logged_in %}
			<!-- If user entered the wrong credentials, display errors. -->
			{% if errors %}
				<span style="color:red;">{{ errors|linebreaks }}</span>
			{% endif %}

			<form method="POST">
			{% csrf_token %}
				{% for field in form %}
					<div class="fieldWrapper">
						{{ field.label_tag }} {{ field }}
						<span style="color:red;">{{ field.errors }}</span>
						{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}
					</div>
				{% endfor %}
				<input type="submit" value="Login" />
			</form>
			<br>
			<a href="{% url 'register' %}">Register</a>

		{% else %}
			<p>You are logged in as <span style="color:red;">{{ request.user.username }}</span>!</p>
			<a href="{% url 'logout' %}">Logout</a>

			<div style="text-align:center;" id="content">
			<!-- Include all blog posts. --> 
				{% include "blog/post_list.html" %}
			</div>
			<a href="{% url 'post_new' %}">New Post</a>
		{% endif %}
		<br>
		<hr>
		<p>Copyright 2015</p>
	</body>
	
</html>