{% extends "blog/base.html" %}

{% block content %}

{% comment %}
	This html page contains the listings.
{% endcomment %}

<div class="page-header">
    <h1>Product Listings</h1>
</div>
{% if user.is_authenticated %}
    <a href="{% url 'listing_new' %}" class="btn btn-default" role="button">+ Create Listing</a>
{% endif %}
<div class="listing">
	<div class="row">

	<!-- Load static default thumbnail image to display if a listing has no pictures -->
	{% load static %}
	{% static 'blog/img/thumbnail-default.jpg' as default %}
	{% for listing in listings %}
	{% with listing.listingpicture_set.all.0.picture as picture %}

	  <div class="col-md-3 col-sm-6 col-xs-6">
	    <div class="thumbnail">
	      {% if picture %}
	      <img src="{{ MEDIA_URL }}{{ picture }}" alt="Thumbnail Image Here">
		  {% else %}
		  <img src="{{ default }}" alt="Thumbnail Image Here">
		  {% endif %}
	      
	      <div class="caption">
	        <h3><a href="{% url 'listing_detail' listing_id=listing.pk %}">{{ listing.title }}</a></h3>
	        <p>Price: {{ listing.price }}
	        <p>Date: {{ listing.created_date }}</p>
            <p>Seller: {{ listing.author }}</p>
	        <p>{{ listing.text|linebreaks }}</p>
	        <p><a href="{% url 'listing_detail' listing_id=listing.pk %}" class="btn btn-primary" role="button">Details</a></p>
	      </div>
	    </div>
	  </div>

	{% endwith %}
	{% endfor %}

	</div>
</div>

{% endblock %}
