{% extends "blog/base.html" %}

{% block content %}

{% comment %}
	This html page contains the listings.
{% endcomment %}

<div class="page-header">
    <h1>Create Listing</h1>
</div>
{% if user.is_authenticated %}

<div class="form-horizontal create-listing">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="control-label col-sm-1">{{ field.label_tag }}</label>
            <div class="col-sm-11 form-control">{{ field }}</div>
            <span style="color:red;">{{ field.errors }}</span>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        {% for img in pictureFormSet %}
        {{ pictureFormSet.management_form }}
        <div class="form-group">
            <label class="control-label col-sm-1">{{ img.label_tag }}</label>
            <div class="col-sm-11">{{ img }}</div>
            <span style="color:red;">{{ img.errors }}</span>
            {% if img.help_text %}
            <p class="help">{{ img.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <br>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="hidden" name="next" value="{% url 'listing_list' %}" />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

{% else %}
<p>You must be <a href="{% url 'login' %}">logged in</a> to create a listing.</p>
{% endif %}

{% endblock %}