{% comment %}
	This html page contains the right part of the navigation bar. It shows the logged in user with a menu or a link to log in.
{% endcomment %}

<ul class="nav navbar-nav navbar-right">

    {% if user.is_authenticated %}
    {% load notifications_tags %}
    <li class="navbar-text">Hello {{ user.username }}!</li>

    <li class="navbar-text dropdown">
    	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Notifications
	    <span class="caret"></span></button>
	    <!-- {% live_notify_list classes="dropdown-menu" %} -->
        <ul id="live-notify-list" class="dropdown-menu"></ul>
    </li>
    <li class="navbar-text btn btn-primary" role="presentation"><a style="color:white;" href="{% url 'mark_all_as_read' %}">Mark all Read <span class="badge">{% live_notify_badge classes="badge" %}</span></a></li>
    <li class="navbar-text"><a href="{% url 'logout' %}">Log Out</a></li>

    {% else %}
    <li class="navbar-text"><a href="{% url 'login' %}">Log in</a></li>
    <li class="navbar-text"><a href="{% url 'register' %}">Register</a></li>

    {% endif %}
</ul>
