<html>
	<head>
		<title>New Post - My Test Blog</title>
	</head>
	<body>
		<h1>New Post</h1>
		<form method="POST">
		{% csrf_token %}
			{% for field in form %}
				<div class="fieldWrapper">
					{{ field.label_tag }} {{ field }}
					<span style="color:red;">{{ field.errors }}</span>
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			{% endfor %}
			<input type="submit" value="Post" />
		</form>
		<br>
		<hr>
		<p>Copyright 2015</p>
	</body>
</html>